<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nan.cebo.signup.persistence.AccountMapper">
    <select id="getUserInformation" parameterType="java.lang.String" resultType="com.nan.cebo.signup.domain.Account">
        SELECT * FROM `user_information` WHERE `openId`=#{openId}
    </select>
    <select id="insertAccount" parameterType="com.nan.cebo.signup.domain.Account">
        insert into `user_information` (`openId`,`studentId`)
        values(#{openId},#{studentId})
    </select>
    <select id="updateSchoolInformation" parameterType="com.nan.cebo.signup.domain.Account">
        update `user_information` set
        `studentId`=#{studentId}
        where `openId`=#{openId}
    </select>
</mapper>