<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nan.cebo.competition.persistence.ApplyMapper">
    <select id="getInformation" parameterType="java.lang.String" resultType="com.nan.cebo.competition.domain.apply.ApplyDataBase">
        SELECT
            *
        FROM competition_apply_information
        WHERE `competitionId` =#{competitionId}
    </select>
    <select id="getApplyDetails" parameterType="java.lang.String" resultType="com.nan.cebo.competition.domain.apply.ApplyType">
        SELECT * FROM ${tableName}  WHERE `id`=#{id}
    </select>
    <select id="insertTeamId" parameterType="java.lang.String">
        insert into `teaminformation` (`teamId`,`userId`,`competitionId`)
        values(#{teamId},#{userId},#{competitionId})
    </select>
    <select id="getCompetitionId" parameterType="java.lang.String" resultType="com.nan.cebo.competition.domain.apply.view.TeamCompetition">
        SELECT * FROM `teamInformation` WHERE `teamId`=#{teamId}
    </select>
    <select id="insertTeamData" parameterType="com.nan.cebo.competition.domain.apply.submit.PersonDataBase">
        insert into ${tableName} (`teamId`,`name`,`value`)
        values(#{data.teamId},#{data.name},#{data.value})
    </select>
    <select id="insertPeronData">
        insert into ${tableName} (`teamId`,`personId`,`name`,`value`)
        values(#{data.teamId},#{index},#{data.name},#{data.value})
    </select>
    <select id="getUserAllCompetition" parameterType="java.lang.String" resultType="com.nan.cebo.signup.domain.ApplyCompetition">
        SELECT `teamId`,`competitionId` FROM `teamInformation` WHERE `userId`=#{userId}
    </select>

    <select id="getCompetitionName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `comp_name` FROM `competition` WHERE `id`=#{competitionId}
    </select>
    <select id="getCompetitionInfor" parameterType="java.lang.String" resultType="com.nan.cebo.competition.domain.apply.submit.TeamData">
        SELECT * FROM ${tableName} WHERE `teamId`=#{teamId}
    </select>

    <select id="getPersonInfor" parameterType="java.lang.String" resultType="com.nan.cebo.competition.domain.apply.view.ViewPerson">
        SELECT * FROM `perapplyinformation` WHERE `teamId`=#{teamId}
    </select>
</mapper>