<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nan.cebo.competition.persistence.ApplyMapper">
    <select id="getInformation" parameterType="java.lang.String" resultType="com.nan.cebo.competition.domain.apply.ApplyDataBase">
        SELECT
            *
        FROM competition_apply_information
        WHERE `competitionId` =#{competitionId}
    </select>
    <select id="getApplyDetails" parameterType="java.lang.String" resultType="com.nan.cebo.competition.domain.apply.ApplyType">
        SELECT * FROM ${tableName}  WHERE `id`=#{id}
    </select>
</mapper>